.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.filler{
  flex: 1 1 auto;
}
.tool-button button{
  margin: 10px;
}
.search{
  margin: 15px;
}
.side-button:hover{
  background: #4B77BE;
  color: white;
 font-size: 20px;
}
a i {
  margin: 10px;
}

#user-menu{

 font-size: 20px;
}
app-dashboard{
  margin: 10px;
}

.inner-button:hover{
  background: #4B77BE;
  color: white;
}
