<div class="team-section">
  <h3>Our Team</h3>
  <span class="border"></span>
  <div class="ps">
    <a href="#p1"><img src="jose.jpg" alt="" /></a>
    <a href="#p2"><img src="jose.jpg" alt="" /></a>
    <a href="#p3"><img src="jose.jpg" alt="" /></a>
  </div>
  <div class="section" id="p1">
    <span class="name">Subject one</span>
    <span class="border"></span>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in </p>
  </div>

  <div class="section" id="p2">
    <span class="name">Subject two</span>
    <span class="border"></span>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in </p>
  </div>
  <div class="section" id="p3">
    <span class="name">Subject three</span>
    <span class="border"></span>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in </p>
  </div>
</div>
