<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">About Site</a>
      <a mat-list-item href="#">link 1</a>
      <a mat-list-item href="#">Link 2</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Constant <i class="material-icons">compare_arrows</i> News </span>
      <!--begin  login  and sign up form-->
      <span class="filler"></span>
      <button mat-raised-button (click)="signinDiagloOpen()">sign in</button>
      <button mat-raised-button (click)="registerDiagloOpen()">Register</button>
      <!--end  login sign up form-->
    </mat-toolbar>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
