<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Register" disabled value="Constant News">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="First name">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name">
    </mat-form-field></td>
  </tr></table>
 

<p>
  <mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</p>


  <p>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address"></textarea>
    </mat-form-field>
  </p>
  

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="City">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="State">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
  </tr></table>

   <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="user" cdkFocusInitial>Submit</button>
  </div>
</form>