<div>
  <h1 mat-dialog-title>Welcome Back!</h1>
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
        <mat-label>UserName</mat-label>
        <input matInput placeholder="UserName">
        <mat-icon matSuffix>check_circle_outline</mat-icon>
      </mat-form-field>

       <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password">
    <mat-icon matSuffix>check_circle_outline</mat-icon>
    <mat-hint>massage TODO:</mat-hint>
  </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="user" cdkFocusInitial>login</button>
  </div>

   </div>
<!-- begin login -->
  <div *ngIf="loggedIn()" class="logged-container container">
      <i class="material-icons">account_box</i>
      <a>Welcome</a>
  </div>
<!-- end login -->